<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JSPFundamentals</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>dbDriver</param-name>
  	<param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>

  <context-param>
  	<param-name>dbUser</param-name>
  	<param-value>root</param-value>
  </context-param>
  
    <context-param>
  	<param-name>dbPwd</param-name>
  	<param-value>mani@123</param-value>
  </context-param>
    <context-param>
  	<param-name>dbUrl</param-name>
  	<param-value>jdbc:mysql://localhost:3306/jsp?useSSL=false</param-value>
  </context-param>  
  
  <servlet>
  	<servlet-name>errorHandler</servlet-name>
  	<jsp-file>/error.jsp</jsp-file>
  	<init-param>
  		<param-name>errorMessage</param-name>
  		<param-value>Error occured while processing your request. Please verify
  		if the requested page exists and the provided credentials are valid.</param-value>
  	</init-param>
  	
  	<init-param>
  		<param-name>imageUrl</param-name>
  		<param-value>images/error.png</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>errorHandler</servlet-name>
  	<url-pattern>/error.jsp</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/error.jsp</location>
  </error-page>
  
</web-app>